@font-face {
  font-family: 'Silka-Thin';
  src: url("./assets/fonts/Silka-Thin.otf") format("opentype");
}
@font-face {
  font-family: 'Silka-SemiBold';
  src: url("./assets/fonts/Silka-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: 'Silka-Regular';
  src: url("./assets/fonts/Silka-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Silka-Medium';
  src: url("./assets/fonts/Silka-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'Silka-Light';
  src: url("./assets/fonts/Silka-Light.otf") format("opentype");
}
@font-face {
  font-family: 'Silka-ExtraLight';
  src: url("./assets/fonts/Silka-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: 'Silka-Bold';
  src: url("./assets/fonts/Silka-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Silka-Black';
  src: url("./assets/fonts/Silka-Black.otf") format("opentype");
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Silka-Medium', sans-serif;
  // font-weight: normal!important;
}

body {
  margin: 0;
  font-family: 'Silka-Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 2em;
  color: white;
  background-color: #000000;
  scroll-behavior: smooth;

  &:after {
    animation: grain 8s steps(10) infinite;
    background-image: url("./assets/grain.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    z-index: -1;
    top: -100%;
    width: 300%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  // max-width: 100%;
}
@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
.root {
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 850px) {
  .root {
    overflow: visible;
  }
}

/*****/
/***** Row's, grid layout *****/
/*****/
.row {
  display: flex;
  flex-wrap: wrap;
}
.row [class*="col-"] {
  padding: 0 15px;
}
[class*="col_"] {
  width: 100%;
}
.box {
  display: block;
  width: 1000px;
  height: 200px;
  background: #f0f0f0;
}
.box-text {
  display: inline-block;
  color: black;
  white-space: nowrap;
}
.col_1 { width: 8.33333%; }
.col_2 { width: 16.66667%; }
.col_3 { width: 25%; }
.col_4 { width: 33.33333%; }
.col_5 { width: 41.66667%; }
.col_6 { width: 50%; }
.col_7 { width: 58.33333%; }
.col_8 { width: 66.66667%; }
.col_9 { width: 75.0%; }
.col_10 { width: 83.33333%; }
.col_11 { width: 91.66667%; }
.col_12 { width: 100%; }

@media (min-width: 1px) {

  .col_s_1 { width: 8.33333%; }
  .col_s_2 { width: 16.66667%; }
  .col_s_3 { width: 25%; }
  .col_s_4 { width: 33.33333%; }
  .col_s_5 { width: 41.66667%; }
  .col_s_6 { width: 50%; }
  .col_s_7 { width: 58.33333%; }
  .col_s_8 { width: 66.66667%; }
  .col_s_9 { width: 75.0%; }
  .col_s_10 { width: 83.33333%; }
  .col_s_11 { width: 91.66667%; }
  .col_s_12 { width: 100%; }

      /** Offset's **/
      .col_s_1_offset { margin-left: 8.33333%; }
      .col_s_2_offset { margin-left: 16.66667%; }
      .col_s_3_offset { margin-left: 25%; }
      .col_s_4_offset { margin-left: 33.33333%; }
      .col_s_5_offset { margin-left: 41.66667%; }
      .col_s_6_offset { margin-left: 50%; }
      .col_s_7_offset { margin-left: 58.33333%; }
      .col_s_8_offset { margin-left: 66.66667%; }
      .col_s_9_offset { margin-left: 75.0%; }
      .col_s_10_offset { margin-left: 83.33333%; }
      .col_s_11_offset { margin-left: 91.66667%; }
      .col_s_12_offset { margin-left: 100%; }
      .col_s_0_offset { margin-left: 0; }

}

@media (min-width: 768px) {

  .col_m_1 { width: 8.33333%; }
  .col_m_2 { width: 16.66667%; }
  .col_m_3 { width: 25%; }
  .col_m_4 { width: 33.33333%; }
  .col_m_5 { width: 41.66667%; }
  .col_m_6 { width: 50%; }
  .col_m_7 { width: 58.33333%; }
  .col_m_8 { width: 66.66667%; }
  .col_m_9 { width: 75.0%; }
  .col_m_10 { width: 83.33333%; }
  .col_m_11 { width: 91.66667%; }
  .col_m_12 { width: 100%; }

      /** Offset's **/
      .col_m_1_offset  { margin-left: 8.33333%; }
      .col_m_2_offset  { margin-left: 16.66667%; }
      .col_m_3_offset  { margin-left: 25%; }
      .col_m_4_offset  { margin-left: 33.33333%; }
      .col_m_5_offset  { margin-left: 41.66667%; }
      .col_m_6_offset  { margin-left: 50%; }
      .col_m_7_offset  { margin-left: 58.33333%; }
      .col_m_8_offset  { margin-left: 66.66667%; }
      .col_m_9_offset  { margin-left: 75.0%; }
      .col_m_10_offset  { margin-left: 83.33333%; }
      .col_m_11_offset  { margin-left: 91.66667%; }
      .col_m_12_offset  { margin-left: 100%; }
      .col_m_0_offset { margin-left: 0; }

}
@media (min-width: 992px) {

  .col_l_1 { width: 8.33333%; }
  .col_l_2 { width: 16.66667%; }
  .col_l_3 { width: 25%; }
  .col_l_4 { width: 33.33333%; }
  .col_l_5 { width: 41.66667%; }
  .col_l_6 { width: 50%; }
  .col_l_7 { width: 58.33333%; }
  .col_l_8 { width: 66.66667%; }
  .col_l_9 { width: 75.0%; }
  .col_l_10 { width: 83.33333%; }
  .col_l_11 { width: 91.66667%; }
  .col_l_12 { width: 100%; }

      /** Offset's **/
      .col_l_1_offset  { margin-left: 8.33333%; }
      .col_l_2_offset  { margin-left: 16.66667%; }
      .col_l_3_offset { margin-left: 25%; }
      .col_l_4_offset  { margin-left: 33.33333%; }
      .col_l_5_offset  { margin-left: 41.66667%; }
      .col_l_6_offset  { margin-left: 50%; }
      .col_l_7_offset { margin-left: 58.33333%; }
      .col_l_8_offset  { margin-left: 66.66667%; }
      .col_l_9_offset  { margin-left: 75.0%; }
      .col_l_10_offset  { margin-left: 83.33333%; }
      .col_l_11_offset  { margin-left: 91.66667%; }
      .col_l_12_offset  { margin-left: 100%; }
      .col_l_0_offset { margin-left: 0; }

}
@media (min-width: 1200px) {

  .col_h_1 { width: 8.33333%; }
  .col_h_2 { width: 16.66667%; }
  .col_h_3 { width: 25%; }
  .col_h_4 { width: 33.33333%; }
  .col_h_5 { width: 41.66667%; }
  .col_h_6 { width: 50%; }
  .col_h_7 { width: 58.33333%; }
  .col_h_8 { width: 66.66667%; }
  .col_h_9 { width: 75.0%; }
  .col_h_10 { width: 83.33333%; }
  .col_h_11 { width: 91.66667%; }
  .col_h_12 { width: 100%; }

      /** Offset's **/
      .col_h_1_offset  { margin-left: 8.33333%; }
      .col_h_2_offset  { margin-left: 16.66667%; }
      .col_h_3_offset { margin-left: 25%; }
      .col_h_4_offset  { margin-left: 33.33333%; }
      .col_h_5_offset  { margin-left: 41.66667%; }
      .col_h_6_offset  { margin-left: 50%; }
      .col_h_7_offset { margin-left: 58.33333%; }
      .col_h_8_offset  { margin-left: 66.66667%; }
      .col_h_9_offset  { margin-left: 75.0%; }
      .col_h_10_offset  { margin-left: 83.33333%; }
      .col_h_11_offset  { margin-left: 91.66667%; }
      .col_h_12_offset  { margin-left: 100%; }
      .col_h_0_offset { margin-left: 0; }

}

.kursor--4 {
  border: 2px solid #b2b2b2 !important;
}
.kursor {
  mix-blend-mode: difference;
}
.kursorChild {
  background: #b2b2b2 !important;
  mix-blend-mode: difference;
}
.hover-this {
  transition: all 0.3s ease;
}
span {
  display: inline-block;
  transition: transform 0.2s linear;
}